# PROJECT
ENV=dev
LOG_LEVEL=INFO

# GOOGLE SHEETS
GSHEETS_SERVICE_ACCOUNT_JSON=secrets/service_account.json
GSHEETS_SPREADSHEET_ID=YOUR_SHEET_ID_HERE
GSHEETS_TAB_GAMES=Game_DataBase

GSHEETS_TAB_SCORE_RULE=Active_Game
GSHEETS_RANGE_SCORE_RULE=AA22:AC34

GSHEETS_TAB_SETTINGS=Settings
GSHEETS_RANGE_PLAYERS=A2:A
GSHEETS_RANGE_COMMANDERS=B2:D
GSHEETS_RANGE_COLORS=E2:E
GSHEETS_RANGE_SEASONS=K2:K

# UPDATE SHEET
GSHEETS_TAB_VERSUS=Versus

# POSTGRESQL
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=bi_magic
PG_USER=postgres
PG_PASSWORD=your_password_here
PG_SCHEMA=bi_magic

# SQL FILES
SQL_SCHEMA_FILE=sql/01_schema.sql
SQL_INDEXES_FILE=sql/02_indexes.sql
SQL_QUALITY_FILE=sql/03_quality_checks.sql
